	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-abundance:before { content: "\f100"; }
.flaticon-affluence:before { content: "\f101"; }
.flaticon-air:before { content: "\f102"; }
.flaticon-antimony:before { content: "\f103"; }
.flaticon-aqua:before { content: "\f104"; }
.flaticon-aquarius:before { content: "\f105"; }
.flaticon-aries:before { content: "\f106"; }
.flaticon-authority:before { content: "\f107"; }
.flaticon-beauty:before { content: "\f108"; }
.flaticon-cancer:before { content: "\f109"; }
.flaticon-capricorn:before { content: "\f10a"; }
.flaticon-coagulation:before { content: "\f10b"; }
.flaticon-commitment:before { content: "\f10c"; }
.flaticon-craftiness:before { content: "\f10d"; }
.flaticon-democracy:before { content: "\f10e"; }
.flaticon-devotion:before { content: "\f10f"; }
.flaticon-divinity:before { content: "\f110"; }
.flaticon-earth:before { content: "\f111"; }
.flaticon-earth-1:before { content: "\f112"; }
.flaticon-encouragement:before { content: "\f113"; }
.flaticon-excellence:before { content: "\f114"; }
.flaticon-fire:before { content: "\f115"; }
.flaticon-fortitude:before { content: "\f116"; }
.flaticon-freedom:before { content: "\f117"; }
.flaticon-friendship:before { content: "\f118"; }
.flaticon-gemini:before { content: "\f119"; }
.flaticon-gods-guidance:before { content: "\f11a"; }
.flaticon-gods-omnipressence:before { content: "\f11b"; }
.flaticon-gods-protection:before { content: "\f11c"; }
.flaticon-gods-shield:before { content: "\f11d"; }
.flaticon-gold:before { content: "\f11e"; }
.flaticon-good-luck:before { content: "\f11f"; }
.flaticon-greatness:before { content: "\f120"; }
.flaticon-hope:before { content: "\f121"; }
.flaticon-hypocrisy:before { content: "\f122"; }
.flaticon-inequality:before { content: "\f123"; }
.flaticon-ingenuity:before { content: "\f124"; }
.flaticon-ingenuity-1:before { content: "\f125"; }
.flaticon-jupiter:before { content: "\f126"; }
.flaticon-justice:before { content: "\f127"; }
.flaticon-knowledge:before { content: "\f128"; }
.flaticon-leo:before { content: "\f129"; }
.flaticon-lethargy:before { content: "\f12a"; }
.flaticon-libra:before { content: "\f12b"; }
.flaticon-lifes-challenges:before { content: "\f12c"; }
.flaticon-loyalty:before { content: "\f12d"; }
.flaticon-loyalty-1:before { content: "\f12e"; }
.flaticon-mars:before { content: "\f12f"; }
.flaticon-mercury:before { content: "\f130"; }
.flaticon-moon:before { content: "\f131"; }
.flaticon-neptune:before { content: "\f132"; }
.flaticon-nitre:before { content: "\f133"; }
.flaticon-oil:before { content: "\f134"; }
.flaticon-perseverance:before { content: "\f135"; }
.flaticon-pisces:before { content: "\f136"; }
.flaticon-pluto:before { content: "\f137"; }
.flaticon-precipitation:before { content: "\f138"; }
.flaticon-projection:before { content: "\f139"; }
.flaticon-reconciliation:before { content: "\f13a"; }
.flaticon-safety:before { content: "\f13b"; }
.flaticon-sagittarius:before { content: "\f13c"; }
.flaticon-salt:before { content: "\f13d"; }
.flaticon-salt-1:before { content: "\f13e"; }
.flaticon-scorpio:before { content: "\f13f"; }
.flaticon-silver:before { content: "\f140"; }
.flaticon-silver-1:before { content: "\f141"; }
.flaticon-soap:before { content: "\f142"; }
.flaticon-soapstone:before { content: "\f143"; }
.flaticon-soapstone-1:before { content: "\f144"; }
.flaticon-soot:before { content: "\f145"; }
.flaticon-spirit:before { content: "\f146"; }
.flaticon-spirit-1:before { content: "\f147"; }
.flaticon-standard-of-quality:before { content: "\f148"; }
.flaticon-still:before { content: "\f149"; }
.flaticon-stone:before { content: "\f14a"; }
.flaticon-strength:before { content: "\f14b"; }
.flaticon-sulphur:before { content: "\f14c"; }
.flaticon-sulphur-1:before { content: "\f14d"; }
.flaticon-sulphur-2:before { content: "\f14e"; }
.flaticon-sulphur-3:before { content: "\f14f"; }
.flaticon-sun:before { content: "\f150"; }
.flaticon-tartar:before { content: "\f151"; }
.flaticon-taurus:before { content: "\f152"; }
.flaticon-time-changes:before { content: "\f153"; }
.flaticon-tin:before { content: "\f154"; }
.flaticon-toughness:before { content: "\f155"; }
.flaticon-understanding:before { content: "\f156"; }
.flaticon-uranus:before { content: "\f157"; }
.flaticon-uranus-1:before { content: "\f158"; }
.flaticon-venus:before { content: "\f159"; }
.flaticon-vinegar:before { content: "\f15a"; }
.flaticon-vinegar-1:before { content: "\f15b"; }
.flaticon-virgo:before { content: "\f15c"; }
.flaticon-vitriol:before { content: "\f15d"; }
.flaticon-water:before { content: "\f15e"; }
.flaticon-wax:before { content: "\f15f"; }
.flaticon-wisdom:before { content: "\f160"; }
.flaticon-wisdom-1:before { content: "\f161"; }
.flaticon-wood:before { content: "\f162"; }
.flaticon-year:before { content: "\f163"; }
.flaticon-zinc:before { content: "\f164"; }
.flaticon-zinc-1:before { content: "\f165"; }
.flaticon-zinc-2:before { content: "\f166"; }